/*.page-footer{
    position:fixed;
    bottom: 0;
    width:100%;
    !*flex-shrink: 0;*!
    background: var(--body-color);
}*/

.text-right{
    text-align:right;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    /*width: 160px;*/
    /*height: 1.2em;*/
    white-space: nowrap;
}
